<!DOCTYPE html>

<html>

<head>
      <title>404 Error Weather App</title>
      <link rel="stylesheet" href="/css/index.css">

</head>

<body>



    <span>{{>header}}</span>


    <div class="" style="padding:50px">
      <img src="/assets/404.jpg" alt="">
    </div>

      <span>{{>footer}}</span>


</body>

</html>
