<!DOCTYPE html>

<html>

<head>
      <title>Weather App</title>
      <link rel="icon" href="/assets/favicon.ico>" type="image/gif" sizes="16x16">
      <link rel="stylesheet" href="/css/index.css">

</head>

<body>

    <span>{{>header}}</span>
    <!-- <h1>{{title}}</h1> -->

    <form class="" action="" method="post">

      <input type="text" name="address" value="" placeholder="Address" id="location">
      <button>Submit</button>
    </form>

    <p id="msg1"></p>
    <p id="msg2"></p>

      <span>{{>footer}}</span>
      <script src="/js/app.js"></script>
</body>

</html>
