body{
  max-width: 950px;
   margin: 0 auto;
}

input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

h1{
  color: gray;

}


li{
  list-style-type:none

}

ul li{
  display: inline;
  padding: 50px;
}


.footer{
  color: gray;
  text-align: center;
}


a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: gray;
  padding-right: 20px;
  font-size: 15px;
}

.link1{

  margin-bottom: 50px;

}

.heading1{
  margin: 50px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #343434;



}
